name: Release

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to use'
        type: string
        default: 'next'
      milestone:
        description: 'Milestone to use as version'
        type: string
        required: true

  workflow_call:
    inputs:
      branch:
        description: 'Branch to use'
        type: string
        default: 'next'
      milestone:
        description: 'Milestone to use as version'
        type: string
        required: true

jobs:
  delete_old_snapshots:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:

      - name: Delete packages
        uses: smartsquaregmbh/delete-old-packages@v0.8.1
        with:
          organization: assimbly
          type: maven
          token: ${{ secrets.MAVEN_TOKEN }}
          keep: 0
          semver-pattern: "${{inputs.milestone}}"
          names: |
            org.assimbly.oauth2token
            org.assimbly.replace
            org.assimbly.xmltocsv
            org.assimbly.pdftotext
            org.assimbly.xmltojson
            org.assimbly.googledrive
            org.assimbly.multipart
            org.assimbly.smb
            org.assimbly.formtoxml
            org.assimbly.simplereplace
            org.assimbly.pdf
            org.assimbly.sql
            org.assimbly.sandbox
            org.assimbly.xmltoexcel
            org.assimbly.mail
            org.assimbly.soap
            org.assimbly.tenantvariables
            org.assimbly.oriflame
            org.assimbly.docconverter
            org.assimbly.csvtoxml
            org.assimbly.amazon
            org.assimbly.edifactcommon
            org.assimbly.auth
            org.assimbly.exceltoxml
            org.assimbly.edifact
            org.assimbly.cookies
            org.assimbly.encoder
            org.assimbly.enrich
            org.assimbly.aggregate
            org.assimbly.edifactdotweb
            org.assimbly.edi
            org.assimbly.smooksnoxml
            org.assimbly.flv
            org.assimbly.edifactstandards
            org.assimbly.jsontoxmllegacy
            org.assimbly.xmltojsonlegacy
            org.assimbly.custom-components

  release-jars:
    needs: delete_old_snapshots
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:

      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          repository: "assimbly/custom-components"
          ref: ${{ inputs.branch }}
          fetch-depth: 0
          token: ${{ secrets.RELEASE_TOKEN }}


      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Maven settings.xml
        uses: whelk-io/maven-settings-xml-action@v22

        with:

          repositories: >
            [
                {
                  "id": "maven",
                  "name": "Maven Central",
                  "url": "https://repo1.maven.org/maven2"
                },
                {
                  "id": "github",
                  "name": "Assimbly Base Repository",
                  "url": "https://maven.pkg.github.com/assimbly/base",
                  "snapshots": {
                    "enabled": "true"
                  }
                },
                {
                    "id": "aurea",
                    "name": "Aurea Sonic Repository",
                    "url": "https://int-factory.aurea.com/nexus/content/repositories/sonic-releases/"
                }
            ]
          servers: >
            [
                {
                    "id": "github",
                    "username": "assimbly",
                    "password": "${{ secrets.MAVEN_TOKEN }}"
                }
            ]

      - name: Publish package
        run: mvn --batch-mode deploy -DskipTests
        env:
          GITHUB_TOKEN: ${{ secrets.MAVEN_TOKEN }}

